doctype html
head
    meta(charset='utf-8')
    title Shopia
    meta(name='viewport' content='initial-scale=1')
    link(rel='stylesheet' type='text/css' href='css/main.css')
    link(rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon")
    link(href="//db.onlinewebfonts.com/c/4027bc4528c3803a7b4fdfe1ef155df7?family=Krinkes+Decor+PERSONAL+USE" rel="stylesheet" type="text/css")
body
    #top
    header.header
        .header__top-bar
            .container
                .top-bar
                    .top-bar__phone
                        span.top-bar__phone-icon.icon &#xe80f;
                        a(href="tel:+ 001 555 801").top-bar__phone-number.link Call + 001 555 801
                    .top-bar__bookmarks
                        a(href="").top-bar__bookmark.link Welcome MSG!
                        a(href="").top-bar__bookmark.link My account
                        a(href="").top-bar__bookmark.link My Wishlist
                        a(href="").top-bar__bookmark.link Login
        .header__content
            .container
                .header__menu.menu
                    nav.menu__left
                        .burger
                            .burger__line.burger__line_top
                            .burger__line.burger__line_mid
                            .burger__line.burger__line_bottom
                        ul.navigation
                            li.navigation__item
                                a(href="").link Home
                            li.navigation__item
                                a(href="").link Gallery
                            li.navigation__item
                                a(href="").link Categories
                            li.navigation__item
                                a(href="").link Pages
                    .header__title Shophia
                    .menu__right
                        .socmed.socmed_header
                            a(href="").socmed__link.socmed__link_header.link.icon &#xf09a;
                            a(href="").socmed__link.socmed__link_header.link.icon &#xf099;
                            a(href="").socmed__link.socmed__link_header.link.icon &#xf0d2;
                            a(href="").socmed__link.socmed__link_header.link.icon &#xf16d;
                        select(name="currency").header__currency-selector
                            option(value="rupiah" selected).header__currency-option Rupiah
                            option(value="dollar").header__currency-option Dollar
                            option(value="euro").header__currency-option Euro
    section.slider
        .container
            .slider__wrapper
                .slider__items
                    input(type="radio" name="slider" id="slide1" checked).slider__nav-radio
                    label(for="slide1").slider__nav-item &#9830;
                    .slider__item#slide1
                    input(type="radio" name="slider" id="slide2").slider__nav-radio
                    label(for="slide2").slider__nav-item &#9830;
                    .slider__item#slide2
                    input(type="radio" name="slider" id="slide3").slider__nav-radio
                    label(for="slide3").slider__nav-item &#9830;
                    .slider__item#slide3
                    input(type="radio" name="slider" id="slide4").slider__nav-radio
                    label(for="slide4").slider__nav-item &#9830;
                    .slider__item#slide4
                .slider__sale.sale
                    .sale__wrapper
                        .sale__season Mid-season
                        .sale__header Sale
                        .sale__caption up to
                        .sale__discount 50% off
                .shop-button.shop-button_sale Shop now
    section.support
        .container
            .support__items
                .support__item.support1
                    .support__icon.icon &#xe801;
                    .support__description
                        .support__title Free shipping
                        .support__caption In Order Min $200
                .support__item.support2
                    .support__icon.icon &#xe804;
                    .support__description
                        .support__title 30-days returns
                        .support__caption Money Back guarantee
                .support__item.support3
                    .support__icon.icon &#xf1cd;
                    .support__description
                        .support__title 24/7 Support
                        .support__caption Lifestime Support
    section.featured
        .section__header HandPicked
        .featured__content
            .container
                .featured__items
                    .featured__item#item1
                        img(src="img/featured/front1.png" alt="").featured__pic
                        .featured__mask
                            .shop-button.shop-button_featured Shop Now
                    .featured__item#item2
                        img(src="img/featured/front2.png" alt="").featured__pic
                        .featured__mask
                            .shop-button.shop-button_featured Shop Now
                    .featured__item#item3
                        img(src="img/featured/front3.png" alt="").featured__pic
                        .featured__mask
                            .shop-button.shop-button_featured Shop Now
                    .featured__item#item4
                        img(src="img/featured/front4.png" alt="").featured__pic
                        .featured__mask
                            .shop-button.shop-button_featured Shop Now
                    .featured__item#item5
                        img(src="img/featured/front5.png" alt="").featured__pic
                        .featured__mask
                            .shop-button.shop-button_featured Shop Now
    section.recent
        .section__header Summer Collection
        .recent__content
            .container    
                .recent__items
                    .recent__item#item1
                        .recent__discount 20
                            span.recent__marked-text %
                        .recent__add-button 
                        .recent__cart-caption + add to cart
                    .recent__item#item2
                        .recent__discount 20
                            span.recent__marked-text %
                        .recent__add-button 
                        .recent__cart-caption + add to cart
                    .recent__item#item3
                        .recent__discount 30
                            span.recent__marked-text %
                        .recent__add-button 
                        .recent__cart-caption + add to cart
                    .recent__item#item4
                        .recent__discount 40
                            span.recent__marked-text %
                        .recent__add-button 
                        .recent__cart-caption + add to cart
                    .recent__item#item5
                        .recent__discount 20
                            span.recent__marked-text %
                        .recent__add-button 
                        .recent__cart-caption + add to cart
                    .recent__item#item6
                        .recent__discount 40
                            span.recent__marked-text %
                        .recent__add-button 
                        .recent__cart-caption + add to cart
                    .recent__item#item7
                        .recent__discount 20
                            span.recent__marked-text %
                        .recent__add-button 
                        .recent__cart-caption + add to cart
                    .recent__item#item8
                        .recent__discount 40
                            span.recent__marked-text %
                        .recent__add-button 
                        .recent__cart-caption + add to cart
    section.brand
        .section__header Our Brand
        .brand__content
            .container
                .brand__titles
                    .brand__title
                        img(src="img/brands/bakery.png" alt="")
                    .brand__title
                        img(src="img/brands/cavalier.png" alt="")
                    .brand__title
                        img(src="img/brands/harvest.png" alt="")
                    .brand__title
                        img(src="img/brands/landlock.png" alt="")
                    .brand__title
                        img(src="img/brands/spectrum.png" alt="")
                    .brand__title
                        img(src="img/brands/homeenergy.png" alt="")
    section.testimonial
        .section__header Customers Says
        .testimonial__content
            .container
                .testimonial__items
                    .testimonial__item.testimonial1
                        img(src="img/author.png" alt="").testimonial__author-photo
                        .testimonial__text
                            .testimonial__description Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            .testimonial__author-name Sandra Dewi
                            .testimonial__author-position FASHION STYLISH
                    .testimonial__item.testimonial2
                        img(src="img/author2.png" alt="").testimonial__author-photo
                        .testimonial__text
                            .testimonial__description Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            .testimonial__author-name Shaheer Sheikh
                            .testimonial__author-position DESIGNER
    footer.footer
        .container
            .footer__content
                .footer__shops
                    .footer__subtitle Shops
                    .footer__links
                        .footer__link-wrapper
                            a(href="#").footer__link.link New In
                        .footer__link-wrapper
                            a(href="#").footer__link.link Women
                        .footer__link-wrapper
                            a(href="#").footer__link.link Men
                        .footer__link-wrapper
                            a(href="#").footer__link.link Shoes
                        .footer__link-wrapper
                            a(href="#").footer__link.link Bags &amp; Accessories
                        .footer__link-wrapper
                            a(href="#").footer__link.link Top Brands
                        .footer__link-wrapper
                            a(href="#").footer__link.link Sale &amp; Special Offers
                        .footer__link-wrapper
                            a(href="#").footer__link.link Lookbook
                .footer__information
                    .footer__subtitle Information
                    .footer__links
                        .footer__link-wrapper
                            a(href="#").footer__link.link About us
                        .footer__link-wrapper
                            a(href="#").footer__link.link Customer Service
                        .footer__link-wrapper
                            a(href="#").footer__link.link New Collection
                        .footer__link-wrapper
                            a(href="#").footer__link.link Best Sellers
                        .footer__link-wrapper
                            a(href="#").footer__link.link Manufacturers
                        .footer__link-wrapper
                            a(href="#").footer__link.link Privacy policy
                        .footer__link-wrapper
                            a(href="#").footer__link.link Terms &amp; condition
                        .footer__link-wrapper
                            a(href="#").footer__link.link Blog
                .footer__customer-service
                    .footer__subtitle Customer Service
                    .footer__links
                        .footer__link-wrapper
                            a(href="#").footer__link.link Search Terms
                        .footer__link-wrapper
                            a(href="#").footer__link.link Advanced Search
                        .footer__link-wrapper
                            a(href="#").footer__link.link Orders and Returns
                        .footer__link-wrapper
                            a(href="#").footer__link.link Contact Us
                        .footer__link-wrapper
                            a(href="#").footer__link.link RSS
                        .footer__link-wrapper
                            a(href="#").footer__link.link Help &amp; FAQs
                        .footer__link-wrapper
                            a(href="#").footer__link.link Consultant
                        .footer__link-wrapper
                            a(href="#").footer__link.link Store Locations
                .footer__socmed
                    .footer__subtitle Stay Connected
                    .socmed.socmed_footer
                        a(href="").socmed__link.socmed__link_footer.link.icon &#xf09a;
                        a(href="").socmed__link.socmed__link_footer.link.icon &#xf099;
                        a(href="").socmed__link.socmed__link_footer.link.icon &#xf16d;
                        a(href="").socmed__link.socmed__link_footer.link.icon &#xf0d2;
                        a(href="").socmed__link.socmed__link_footer.link.icon &#xf09e;
                .footer__subscribe
                    .footer__subtitle Subscribe 
                        span.footer__marked-text in 
                        | Our News Letter
                    form.footer__subscribe-form
                        input(type="email" placeholder="Enter Your Email Address").footer__email
                        input(type="button" value="Subscribe").footer__subscribe-button
                .footer__copyright 
                    p © 2015  Shopia  Fashion Store Shopify. 
                    p All Rights Reserved. Ecommerce Software by Shopify. 
                    p Designed by  MoccaLabs.com
                    .footer__cards
                        a(href="#").link.footer__card.icon &#xf1f0;
                        a(href="#").link.footer__card.icon &#xf1f1;
                        a(href="#").link.footer__card.icon &#xf1f3;
                        a(href="#").link.footer__card.icon &#xf1f2;
    .arrow-top
        a(href="#top").arrow-top__link.link.icon &#xe80e;
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(src="js/script.js")